#table
{

    position: relative;
    left:25px;
    top: 30px;

}
select#cat {
    height: 24px;
}
.container
{
    margin-left: auto;
    margin-right:10px;
    margin-top:0;
    margin-bottom:0;
}
.row {
    width: 95%;
    margin-right: -5px;
}
.table
{
    width:98%;
}

.cd-popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.is-visible .cd-popup-container {
    transform: translateY(0);
}